#DyadicMatrices.jl
#pca.jl
#typeinf2.jl
Consec.jl
DyadicMatrices.2015-02-14.jl
DyadicMatrices.2015-02-16.jl
DyadicMatrices.jl~
FixedSizeArrays.jl
SDE.jl
Schauder.2015-02-06.jl
Schauder.jl
aplot.jl
aplot.jl~
bak/
cholncom.jl
conf.jl
cover.jl
diffusion.jl
diffusion.jl~
ex.2014-10-12.jl
ex.2014-10-9.jl
ex.jl
example.jl
example.jl~
fastsch.jl
ou.jl
ou.jl~
pca.jl
ring.jl
shift.jl
sol.txt
test.jl
test2.jl
testdyadic.jl
typeinf.jl
typeinf2.jl
typeinf3.jl
xtrue.csv
